<!--DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html-->
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Responsive Sticky Navbar</title>
			<link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/style.css">
   
	 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/e057dff8c2.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/javascripts/main.js"></script>

</head>
<body>
      <div class="wrapper">
            <header>

                  <nav>

                        <div class="menu-icon">  
                            <i class="fas fa-align-justify"></i>  
                        </div>

                        <div class="logo">
                              LOGO
                        </div>

                        <div class="menu">
                              <ul>
                                    <li><a href="#" class="links">Home</a></li>
                                    <li><a href="#about" class="links">About</a></li>
                                    <li>
                                        <div class="hlinks">Events
                                            <div class="dropdown-content">
                                                <a href="#" id="sub-links" class="sub-links">Event 1</a>
                                                <a href="#" id="sub-links" class="sub-links">Event 2</a>
                                                <a href="#" id="sub-links" class="sub-links">Event 3</a> 
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#contact" class="links">Contact</a></li>
																		
																		
																		
																		
																		
																
																		
																	<li><a style="color:white;" href="https://www.google.com" target="_blank" class="admin-login">
																	<span></span>
																	<span></span>
																	<span></span>
																	
																	Login as Admin</a></li>
																	
																	
																	
																	
																	
																	
																	
																		
                              </ul>
                        </div>
                  </nav>


            </header>
						
						
						
						
						
						
						
						
	<div id="over">
	     <div>
			      <span id="overImg"></span>
			 </div>
				
				<!--		<div class="header">
		<div class="container">
			<div class="mainheader"><h1>For Participating</h1></div>
			<div class="subheader"><h2>in the most exciting event</h2></div>
			<button class="register" onclick="window.open('https://www.google.com','_blank')"><h2>Register Here</h2></button>
		</div>
	</div>
	
	
	<div>
		<p class="des">This is the most fabulous event happening in the history. D-Day is waiting for you.</p>
	</div>
			-->			
				<div id="register">
				   <!-- <button class="register"  onclick="window.open('https://www.google.com','_blank')"><h2>Register Here</h2></button>  -->	
						<a  href="/form" target="_blank" class="register"><span>Register here</span></a>
				</div>		
						
	</div>					
					
						
				
							
						
						
						
						
						
						
						
						
						
						

            <div class="content">
                  <p id="about"> <em>IT WILL CONTAIN ABOUT SECTION</em>
                        <strike>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
												</strike>  </p>
												
												
												
												
												
												
												
												
												
              <!--    <div id="contactus">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  </div>   -->
									
									             <div class="contact" id="contact">
 
 
    <ul class=".ul">
      <li class=".li">
        <a href="#">
          <span  class=".span"></span>
          <span  class=".span"></span>
          <span  class=".span"></span>
          <span  class=".span"></span>
          <span class="fab fa-facebook-f .span"></span>
        </a>
      </li>

      <li class=".li">
        <a href="#">
          <span  class=".span"></span>
          <span  class=".span"></span>
          <span  class=".span"></span>
          <span  class=".span"></span>
          <span class="fab fa-twitter .span"></span>
        </a>
      </li>

      <li class=".li">
        <a href="#">
          <span  class=".span"></span>
          <span  class=".span"></span>
          <span  class=".span"></span>
          <span  class=".span"></span>
          <span class="fab fa-google-plus-g .span"></span>
        </a>
      </li>

      <li class=".li">
        <a href="#">
          <span  class=".span"></span>
          <span  class=".span"></span>
          <span  class=".span"></span>
          <span  class=".span"></span>
          <span class="fab fa-linkedin-in .span"></span>
        </a>
      </li>

      <li class=".li">
        <a href="#">
          <span  class=".span"></span>
          <span  class=".span"></span>
          <span  class=".span"></span>
          <span  class=".span"></span>
          <span class="fab fa-instagram .span"></span>
        </a>
      </li>
    </ul>


</div>



									
									
									
									
									
									
									
            </div>
      </div>

      

</body>
</html>

