<!DOCTYPE html> 
<html> 
<head> 
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap" rel="stylesheet">
	<title> Signup Form</title>
	<style>
		/*body{
			background: linear-gradient(90deg,rgb(65, 201, 225),rgb(230, 25, 195));
		}*/
		.box{
			background-color: white;
			border-radius: 20px;
			height: 300px;
			padding: 40px;
			font-family: "DM Sans";
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			color: grey;
		}
	</style> 
<link rel="stylesheet"
href= 
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
integrity= 
"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
crossorigin="anonymous"> 
		
<link rel="stylesheet" type="text/css" href="style.css"> 
</head> 
	<body> 
	<br> 
	<br> 
	<br> 
	<div class="container" > 
		<div class="row"> 
		<div class="col-md-3"> 
		</div> 
				
		<div class="box"> 
			<center>
			<h1> Form Data Submitted Successfully</h1> 
			<h1> Thank You! for Registering</h1>
			</center>
		</div> 
				
				
		<div class="col-md-3"> 
		</div> 
				
		</div> 
	</div> 
</body> 
</html> 
